html {
  max-width:80ch;
  padding:2ch;
  margin:auto;
  font-size:1.2em;
}

img {
  max-width:100%;
  height:auto;
}

nav a {
  padding-right: 1rem;
}

a:link {
  color: black;
}

a:visited {
  color: grey;
}

header a:visited {
  color: black;
}

h2.post-title i {
  color: darkorchid;
  width: 2rem;
}

/** Code styling  **/
pre.highlight {
  overflow: scroll;
}
div.highlight {
  color: lightblue;
  background: black;
}