html {
  max-width:80ch;
  padding:2ch;
  margin:auto;
  font-size:1.2em;
}

img {
  max-width:100%;
  height:auto;
}

nav a {
  padding-right: 1em;
}

a:link {
  color: black;
}

a:visited {
  color: grey;
}

header a:visited {
  color: black;
}

h2.post-title i {
  color: darkorchid;
  width: 1em;
}

footer {
  margin-top: 3em;
  font-size: 0.8em;
}

/** Tweet styling  **/
blockquote.twitter-tweet {
  background: lavender;
  color: darkblue;
  padding: 0.5em 2em 1em 2em;
}

/** Code styling  **/
pre.highlight {
  overflow: scroll;
}
div.highlight {
  color: lightblue;
  background: black;
}