html {
  max-width:80ch;
  margin:auto;
  font-size:1.2em;
  font-family: sans-serif;
  background: #edeae7;
  color: #1e0010;
}

header, footer, h1, h2, h3 {
  font-family: Consolas, monospace;
}

article {
  padding-bottom: 1em;
}

li {
  padding-bottom: 0.3em;
}

section {
  padding-top: 0.5em;
}

footer {
  font-size: 0.8em;
}

.post-title .post-date {
  font-size: 0.5em;
}

p.unpublished-notice{
  font-weight: bold;
  color: deeppink;
}

img {
  max-width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

div.bottom-of-post {
  padding-bottom: 1em;
}

/** Navigation block **/

nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10.5em);
}

nav  i {
  width: 1em;
}

/** Article header block **/

article header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article header h1 {
  margin-right: 2em;
}

article header time {
  margin: auto 0 auto 0;
  max-width: 10em;
}

/** Link styling **/
a:link {
  color: black;
}

a:visited {
  color: grey;
}

.post a {
  text-decoration: none;
}

header a {
  text-decoration: none;
}

header a:visited {
  color: black;
}

/** Icon colouring & styling **/

i {
  width: 1.4em;
}

.unpublished h2.post-title i {
  color: grey;
}

h2.post-title i {
  color: darkorchid;
  max-width: 25px;
}

.specific-summary h2 i {
  color: darkgreen;
}

.specific-summary h3 i {
  color: darkorchid;
}

i.fab.fa-python {
  /** the python icon looks silly with a normal font weight **/
  font-weight: 100;
}

/** Post links **/
section.post {
  padding: 0;
}

.posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20em);
}

/** pagination styling  **/
.pagination .older {
  float: right
}

/** Tweet styling  **/
blockquote.twitter-tweet {
  background: lavender;
  color: darkblue;
  padding: 0.5em 2em 1em 2em;
}

div.twitter-tweet{
    margin-left: auto;
    margin-right: auto;
}

/** Code styling  **/
pre.highlight {
  overflow: auto;
  margin: 0;
}
div.highlight {
  color: lightblue;
  background: darkslategrey;
  padding: 0.5em 1em 0.5em 1em;
  line-height: 1.2em;
}
