---
layout: default
title: What meadsteve knows about Python
---
{% assign Python-posts = site.posts | where: "tags","python" %}
<div class="specific-summary">
    <div class="intro">
        <h2>
            <i class="fas fa-chalkboard-teacher"></i>
            What I know about Python
        </h2>
        <p>
            I've spent the last few years working with Python.
            I've worked with Python on aws lambda, converted large projects from Python 2 to 3 and setup new projects in async typed Python.
        </p>
    </div>
    <div class="posts">
        <h2>
            <i class="fas fa-pencil-alt"></i>
            Blog posts
        </h2>
        {% for post in Python-posts %}
            {% include post_title_short.html %}
        {% endfor %}
    </div>
    <div class="library-list">
        <h2>
            <i class="fas fa-file-code"></i>
            Python Libraries
        </h2>
        <a href="https://github.com/meadsteve/lagom"><h3 class="project-link"><i class="fas fa-university"></i>Lagom - A type based DI container for Python</h3></a>
        <a href="https://github.com/meadsteve/talepy"><h3 class="project-link"><i class="fas fa-project-diagram"></i>Tale - Distributed transactions for Python</h3></a>
    </div>
    <div class="site-list">
        <h2>
            <i class="fas fa-globe"></i>
            Websites
        </h2>
        <a href="https://british-food-generator.herokuapp.com/"><h3 class="project-link"><i class="fas fa-utensils"></i>The British food generator</h3></a>
    </div>
    <div class="talk-list">
        <h2>
            <i class="fas fa-bullhorn"></i>
            Talks
        </h2>
        <a href="https://github.com/meadsteve/monte_predictor"><h3 class="project-link"><i class="fas fa-dice"></i>Monte carlo simulation (in Python) for forecasting deadlines</h3></a>
    </div>
    <div class="kata-list">
        <h2>
            <i class="fas fa-hand-rock"></i>
            Katas
        </h2>
        <a href="https://github.com/meadsteve/cafefikakata"><h3 class="project-link"><i class="fas fa-coffee"></i>Cafe Fika Kata - An intro to using types in Python</h3></a>
        <a href="https://github.com/meadsteve/types-at-the-edges-minikata"><h3 class="project-link"><i class="fas fa-university"></i>Types at the edges - An intro to using pydantic</h3></a>
    </div>
</div>