---
layout: default
title: What meadsteve knows about Python
---
{% assign Python-posts = site.posts | where: "tags","python" %}
{% assign Python-libraries = site.data.projects | where_exp:"p","p.language == 'python'" | where_exp:"p","p.type == 'library'" %}
{% assign Python-sites = site.data.projects | where_exp:"p","p.language == 'python'" | where_exp:"p","p.type == 'website'" %}
{% assign Python-talks = site.data.projects | where_exp:"p","p.language == 'python'" | where_exp:"p","p.type == 'talk'" %}
{% assign Python-katas = site.data.projects | where_exp:"p","p.language == 'python'" | where_exp:"p","p.type == 'kata'" %}
<div class="specific-summary">
    <div class="intro">
        <h2>
            <i class="fas fa-chalkboard-teacher"></i>
            What I know about Python
        </h2>
        <p>
            {{ site.data.me.blurbs.python}}
        </p>
    </div>
    <div class="posts">
        <h2>
            <i class="fas fa-pencil-alt"></i>
            Blog posts
        </h2>
        {% for post in Python-posts %}
            {% include post_title_short.html %}
        {% endfor %}
    </div>
    <div class="library-list">
        <h2>
            <i class="fas fa-file-code"></i>
            Python Libraries
        </h2>
        {% for project in Python-libraries %}
            {% include project-link.html %}
        {% endfor %}
    </div>
    <div class="site-list">
        <h2>
            <i class="fas fa-globe"></i>
            Websites
        </h2>
        {% for project in Python-sites %}
            {% include project-link.html %}
        {% endfor %}
    </div>
    <div class="talk-list">
        <h2>
            <i class="fas fa-bullhorn"></i>
            Talks
        </h2>
        {% for project in Python-talks %}
            {% include project-link.html %}
        {% endfor %}
    </div>
    <div class="kata-list">
        <h2>
            <i class="fas fa-hand-rock"></i>
            Katas
        </h2>
        {% for project in Python-katas %}
            {% include project-link.html %}
        {% endfor %}
    </div>
</div>