<section class="comment-section">
{% if page.mastodon.id %}
    <div class="article-content">
        <h2>Comments</h2>
        <p><a class="button" href="https://{{ page.mastodon.host }}/interact/{{ page.mastodon.id }}?type=reply">Reply (using mastodon)</a></p>
        <noscript><p>You need JavaScript to view the comments via mastodon.</p></noscript>
        <script type="text/javascript">
            fetch('https://{{ page.mastodon.host }}/api/v1/statuses/{{ page.mastodon.id }}/context')
                .then(function(response) {
                    return response.json();
                }).then(console.log);

        </script>
    </div>
{% elsif page.comments%}
    <a href={{ page.comments.link }}>
        <i class="fas fa-comments" aria-hidden="true"></i>
        {{ page.comments.title }}
    </a>
    {% if page.comments.extras %}
        {% for extra_comments in page.comments.extras %}
            <a href={{ extra_comments.link }}>
                <i class="fas fa-comments" aria-hidden="true"></i>
                {{ extra_comments.title }}
            </a>
        {% endfor %}
    {% endif %}
{% else %}
    <a href=https://twitter.com/meadsteve>
        <i class="fas fa-crow" aria-hidden="true"></i>
        Thoughts? Comments? Send me a tweet!
    </a>
{% endif %}
</section>