<a href="/knowledgebase/">
    <i class="fas fa-book" style="color: lightslategrey"></i>
    My Knowledgebase
</a>
<a href="/about/">
    <i class="fas fa-user" style="color:darkgreen"></i>
    About Me
</a>
<a href="https://github.com/meadsteve">
    <i class="fab fa-github-square" style="color:black"></i>
    Github
</a>
<a href="https://twitter.com/meadsteve">
    <i class="fab fa-twitter-square" style="color: lightskyblue"></i>
    Twitter
</a>
<a href="/feed.xml">
    <i class="fas fa-rss-square" style="color: darkorange"></i>
    Rss
</a>