<a href="/about/">
    <i class="fas fa-user" style="color:darkgreen" aria-hidden="true"></i>
    About Me
</a>
<a href="https://github.com/meadsteve">
    <i class="fab fa-github-square" style="color:black" aria-hidden="true"></i>
    Github
</a>
<a href="https://twitter.com/meadsteve">
    <i class="fab fa-twitter-square" style="color: lightskyblue" aria-hidden="true"></i>
    Twitter
</a>
<a href="https://mastodon.green/@meadsteve">
    <i class="fab fa-mastodon" style="color: green" aria-hidden="true"></i>
    Mastodon
</a>
<a href="/feed.xml">
    <i class="fas fa-rss-square" style="color: darkorange" aria-hidden="true"></i>
    Rss
</a>