/* Hack fix to get rid of large space at the top of posts */
.post[role=main] {
  padding-top: 0;
  h1 {
    margin-top: 10px;
    padding-top: 0;
  }
}

/* Comment box styling */
div.comment-section {
  padding-top: 30px;
}
.comment-section {
  a {
    color: purple;
  }
  i {
    color: purple;
  }
}

.full-index-link {
  a {
    color: black;
  }
  i {
    color: purple;
  }
}