/* Hack fix to get rid of large space at the top of posts */
.post[role=main] {
  padding-top: 0;
  h1 {
    margin-top: 10px;
    padding-top: 0;
  }
}
.posts {
  div.post {
    padding-bottom: 0;
  }
}

.post-header {
  .py2 {
    padding-bottom: 0;
  }
}
i.post-icon {
  width: 45px;
  color: orangered;
}

/* the fab (or at least python needs normal font weight)*/
i.post-icon.fab {
  font-weight: normal;
}

/* Comment box styling */
div.comment-section {
  padding-top: 30px;
}
.comment-section {
  a {
    color: purple;
  }
  i {
    color: purple;
  }
}

.full-index-link {
  a {
    color: black;
  }
  i {
    color: purple;
  }
}

/* Tweet styling */
blockquote.twitter-tweet {
  border-left: 3px solid lightblue
}

/* Unpublished stuff should be styled differently */
.unpublished h3.post-title {
    color: rebeccapurple;
}

.unpublished i {
    color: rebeccapurple;
}

/* custom page indexes */
.specific-summary {
  h2 {
    i {
      color: darkgreen;
    }
  }

  i {
    width: 45px;
    color: deeppink;
  }
  h3 {
    color: black;
  }
}