---
layout: default
---

<article>
  <header>
    <h1>{{ page.title }}</h1>
    <time datetime='{{ page.date | date: "%Y-%m-%d %H:%M:%S" }}' class="post-meta">{{ page.date | date: "%Y-%m-%d" }}</time>
    {% if page.published == false %}
    <p class="post-notice">
      <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
      This is an unpublished post. It's likely (more) full of spelling mistakes and errors.
      It may also end abruptly without a conclusion.
    </p>
    {% endif %}
    {% if page.live_experiment == true %}
    <p class="post-notice">
      <i class="fas fa-flask" aria-hidden="true"></i>
      This post refers to a live experiment. This post may update a few times. The code I discuss will start live
      but it may already be removed and/or destroyed by the time you read this.
    </p>
    {% endif %}
    {% if page.update_notices %}
      {% for update_notice in page.update_notices %}
        <p class="post-notice">
          <i class="fas fa-clock" aria-hidden="true"></i>
          <span class="post-meta"><time datetime='{{ update_notice.date | date: "%Y-%m-%d %H:%M:%S" }}'>{{ update_notice.date | date: "%Y-%m-%d %H:%M:%S" }}</time></span>
          {{ update_notice.message }}
        </p>
      {% endfor %}
    {% endif %}
  </header>
  {{ content }}
</article>

{% include discuss.html %}

<script src="/javascripts/link-helper.js" async></script>