---
layout: default
---

<article>
  <header>
    <h1>{{ page.title }}</h1>
    <time datetime='{{ page.date | date: "%Y-%m-%d %H:%M:%S" }}' class="post-meta">{{ page.date | date: "%Y-%m-%d" }}</time>
    {% if page.update_date %}
    <span class="post-meta">Updated: <time datetime='{{ page.update_date | date: "%Y-%m-%d %H:%M:%S" }}'>{{ page.update_date | date: "%b %-d, %Y" }}</time></span><br>
    {% endif %}
    {% if page.published == false %}
    <p class="unpublished-notice">
      <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
      This is an unpublished post. It's likely (more) full of spelling mistakes and errors.
      It may also end abruptly without a conclusion.
    </p>
    {% endif %}
  </header>
  {{ content }}
</article>

{% include discuss.html %}

{% include edit_post.html %}

{% if site.show_related_posts %}
  <h3 class="related-post-title">Related Posts</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
